<html>
  <head>
    <link rel="stylesheet" href="/style.css">
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <div class="site-info">
      <h2>Universally Thinking</h2>
    </div>
    <div class="nav">
      <ul><li>About</li><li>Home</li></ul>
    </div>
    <div class="header">
        <center><div class="header-banner">
          <h1><%= params['header1'] %></h1>
            <h2>Followed by a Boring Header</h2>
        </div></center>
    </div>

<div class="main">
  <div class="main-left">
<h1>Supercalifragilisticexpialidopeshit Headline</h1>
<div class="headline">
<img src="images/Seabrook-Barnett.jpeg"><span class="Seabrook">Seabrook Barnett</span><span>   </span><span>on </span><a href="#">Friday, Oct 23rd 10:30AM</a>
</div>
<p>Est Schlitz shoreditch fashion axe. Messenger bag cupidatat Williamsburg sustainable aliqua, artisan duis pickled pitchfork. Semiotics Banksy ad roof party, jean shorts selvage mollit vero consectetur hashtag before they sold out blue bottle qui nihil aute. Aliquip artisan retro squid ullamco. Vegan enim Williamsburg, eu umami shabby chic single-origin coffee et."</p>
<p>Est Schlitz shoreditch fashion axe. Messenger bag cupidatat Williamsburg sustainable aliqua, artisan duis pickled pitchfork. Semiotics Banksy ad roof party, jean shorts selvage mollit vero consectetur hashtag before they sold out blue bottle qui nihil aute. Aliquip artisan retro squid ullamco. Vegan enim Williamsburg, eu umami shabby chic single-origin coffee et.</p>
<div class="paragraph-header">
  <h1> WOAH, SHEEZY MACKLETON!</h1>
</div>
<p>Est Schlitz shoreditch fashion axe. Messenger bag cupidatat Williamsburg sustainable aliqua, artisan duis pickled pitchfork. Semiotics Banksy ad roof party, jean shorts selvage mollit vero consectetur hashtag before they sold out blue bottle qui nihil aute. Aliquip artisan retro squid ullamco. Vegan enim Williamsburg, eu umami shabby chic single-origin coffee et."</p>
<p>Est Schlitz shoreditch fashion axe. Messenger bag cupidatat Williamsburg sustainable aliqua, artisan duis pickled pitchfork. Semiotics Banksy ad roof party, jean shorts selvage mollit vero consectetur hashtag before they sold out blue bottle qui nihil aute. Aliquip artisan retro squid ullamco. Vegan enim Williamsburg, eu umami shabby chic single-origin coffee et.</p>
  </div>
  <div class="main-right">
    <center><div class="sidebar-headline">
    <img src="images/Seabrook-Barnett.jpeg"><br><span class="Seabrook">Seabrook Barnett</span><br><br>
  <a href="#">Twitter</a><a href="#"> Facebook</a><a href="#"> Instagram</a></div></center><br>
  <div class="add"><center><img src="images/UT.png"></center>
  <span class="ad">About This AD</span><br><br><br><br></div>
  <h3 class="Seabrook">Sidebar Heading</h3><br>
  <p>Est Schlitz shoreditch fashion axe. Messenger bag cupidatat Williamsburg sustainable aliqua, artisan duis pickled pitchfork. Semiotics Banksy ad roof party, jean shorts selvage mollit vero consectetur hashtag before they sold out blue bottle qui nihil aute. Aliquip artisan retro squid ullamco. Vegan enim Williamsburg, eu umami shabby chic single-origin coffee et."</p>

  </div>



  </div>

  <footer class="foot">
  <div><center><h1 class="footer">Most Popular</h1></center></div>
  <div class="images"><img src="images/img1.jpg"><img src="images/img2.jpg"><img src="images/img3.jpg"><img src="images/img4.jpg">
  <div class="footer"><span class="footer-left">Universally Thinking 2015 | All Rights Reserved</span><span class="footer-right"><a class="link" href="#">About  </a><a class="link" href="3">Home</a></span>
  </div>
  </footer>
</body>


</html>
